*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/assets/stockfish/stockfish
app/src/main/assets/stockfish/src/nn-c288c895ea92.nnue
app/src/main/assets/stockfish-android-armv8
*.nnue
app/src/main/assets/stockfish/src/stockfish
app/src/main/assets/stockfish/stockfish-android-armv8